// Color
$primary-color: #ad67e5;
$secondary-color: #262626;
$background: #1c1c1c;
$white: #ebebeb;
$gray: #707070;
$delete: #f84f55;

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
$primary-font: 'Poppins', sans-serif;